html {
    font-size: 0.75px;
}

@keyframes rotate {
    0% {
        transform: translate(-50%, 0) rotateZ(0deg);
    }
    50% {
        transform: translate(-50%, 0) rotateZ(90deg);
    }
    100% {
        transform: translate(-50%, 0) rotateZ(180deg);
    }
}

.wrapper {
    background-color: black;
    height: 100vh;
    width: auto;
    top: 0;
    left: 0;
    padding: 0;
    position: relative;
    display: grid;
    align-items: center;
    justify-content: center;
}

.square1 {
    position: absolute;
    background-color: white;
    border-radius: 15rem;
    height: 450rem;
    width: 450rem;
    left: 50%;
    transform: translate(-50%, 0);
    animation-name: rotate;
    animation-iteration-count: 2;
    animation-timing-function: linear;
    animation-duration: 8s;
}

.square-black1 {
    position: absolute;
    background-color: black;
    border-radius: 15rem;
    height: 430rem;
    width: 430rem;
    left: 50%;
    transform: translate(-50%, 0);
    animation-name: rotate;
    animation-iteration-count: 2;
    animation-timing-function: linear;
    animation-duration: 7.5s;
}

.square2 {
    position: absolute;
    background-color: white;
    border-radius: 15rem;
    height: 410rem;
    width: 410rem;
    left: 50%;
    transform: translate(-50%, 0);
    animation-name: rotate;
    animation-iteration-count: 2;
    animation-timing-function: linear;
    animation-duration: 7s;
}

.square-black2 {
    position: absolute;
    background-color: black;
    border-radius: 15rem;
    height: 390rem;
    width: 390rem;
    left: 50%;
    transform: translate(-50%, 0);
    animation-name: rotate;
    animation-iteration-count: 2;
    animation-timing-function: linear;
    animation-duration: 6.5s;
}

.square3 {
    position: absolute;
    background-color: white;
    border-radius: 15rem;
    height: 370rem;
    width: 370rem;
    left: 50%;
    transform: translate(-50%, 0);
    animation-name: rotate;
    animation-iteration-count: 2;
    animation-timing-function: linear;
    animation-duration: 6s;
}

.square-black3 {
    position: absolute;
    background-color: black;
    border-radius: 15rem;
    height: 350rem;
    width: 350rem;
    left: 50%;
    transform: translate(-50%, 0);
    animation-name: rotate;
    animation-iteration-count: 2;
    animation-timing-function: linear;
    animation-duration: 5.5s;
}

.square4 {
    position: absolute;
    background-color: white;
    border-radius: 15rem;
    height: 330rem;
    width: 330rem;
    left: 50%;
    transform: translate(-50%, 0);
    animation-name: rotate;
    animation-iteration-count: 2;
    animation-timing-function: linear;
    animation-duration: 5s;
}

.square-black4 {
    position: absolute;
    background-color: black;
    border-radius: 15rem;
    height: 310rem;
    width: 310rem;
    left: 50%;
    transform: translate(-50%, 0);
    animation-name: rotate;
    animation-iteration-count: 2;
    animation-timing-function: linear;
    animation-duration: 4.5s;
}

.square5 {
    position: absolute;
    background-color: white;
    border-radius: 15rem;
    height: 290rem;
    width: 290rem;
    left: 50%;
    transform: translate(-50%, 0);
    animation-name: rotate;
    animation-iteration-count: 2;
    animation-timing-function: linear;
    animation-duration: 4s;
}

.square-black5 {
    position: absolute;
    background-color: black;
    border-radius: 15rem;
    height: 270rem;
    width: 270rem;
    left: 50%;
    transform: translate(-50%, 0);
    animation-name: rotate;
    animation-iteration-count: 2;
    animation-timing-function: linear;
    animation-duration: 3.5s;
}

.square6 {
    position: absolute;
    background-color: white;
    border-radius: 15rem;
    height: 250rem;
    width: 250rem;
    left: 50%;
    transform: translate(-50%, 0);
    animation-name: rotate;
    animation-iteration-count: 2;
    animation-timing-function: linear;
    animation-duration: 3s;
}

.square-black6 {
    position: absolute;
    background-color: black;
    border-radius: 15rem;
    height: 230rem;
    width: 230rem;
    left: 50%;
    transform: translate(-50%, 0);
    animation-name: rotate;
    animation-iteration-count: 2;
    animation-timing-function: linear;
    animation-duration: 2.5s;
}

.square7 {
    position: absolute;
    background-color: white;
    border-radius: 15rem;
    height: 210rem;
    width: 210rem;
    left: 50%;
    transform: translate(-50%, 0);
    animation-name: rotate;
    animation-iteration-count: 2;
    animation-timing-function: linear;
    animation-duration: 2s;
}

.square-black7 {
    position: absolute;
    background-color: black;
    border-radius: 15rem;
    height: 190rem;
    width: 190rem;
    left: 50%;
    transform: translate(-50%, 0);
    animation-name: rotate;
    animation-iteration-count: 2;
    animation-timing-function: linear;
    animation-duration: 1.5s;
}